*, *:before, *:after {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.view {
  height: 100vh; }

.layout {
  width: 800px; }

img {
  max-width: 100%; }

.row {
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px; }
  .row--centered-vert {
    -ms-flex-align: center;
    align-items: center; }

.col {
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px; }

.col-0 {
  padding: 0 10px; }

.dash-row {
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px; }

.dash-col {
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px; }

html {
  font-family: 'Helvetica Neue', 'Hevletica', sans-serif;
  font-weight: 300;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.h1 {
  font-size: 3rem;
  font-weight: 300; }

.h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.5rem; }

.bold {
  font-weight: 500; }

.p {
  font-size: 16px; }

strong {
  font-weight: 700; }

.form-group {
  padding: 0.5rem 0; }

input,
textarea {
  padding: 1rem 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  min-width: 150px; }

input[readonly], textarea[readonly] {
  border-bottom: 1px solid transparent; }

.input-label {
  font-size: 12px;
  margin: 0; }

.form-row {
  display: -ms-flexbox;
  display: flex; }
  .form-row > .form-group,
  .form-row > .image-group {
    -ms-flex: 1;
    flex: 1;
    padding-right: 5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form-row input,
  .form-row textarea {
    width: 100%; }

.image-group img {
  width: 100%; }

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset; }

.btn {
  background-color: #fff;
  border: 2px solid #333;
  font-size: 12px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 700; }
  .btn:hover, .btn:focus {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff; }
  .btn:active {
    background-color: #404040; }

body {
  overflow: hidden; }

#root {
  overflow-y: scroll; }

table {
  border-collapse: collapse; }

.calendar {
  transform: translateX(-2000px);
  position: absolute;
  height: 100vh;
  width: calc(100% - 283px);
  color: white;
  background: black;
  transition: all 1s ease-out;
  z-index: 99;
  overflow-y: hidden;
  padding: 30px; }

.calendar-active {
  transform: translateX(0);
  height: inherit; }

.schedule {
  width: 100%;
  text-align: left;
  table-layout: fixed; }
  .schedule .headings {
    text-transform: uppercase;
    border-bottom: 2px solid #fff; }
    .schedule .headings th {
      padding-bottom: 10px; }
    .schedule .headings .time {
      font-size: .8em; }
  .schedule .timeslot {
    border-bottom: 2px solid #fff; }
    .schedule .timeslot td {
      position: relative; }
      .schedule .timeslot td:first-child {
        padding: .25em 0 5.5em; }

.datepicker-content {
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0; }
  .datepicker-content select {
    width: 79px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    color: #fff; }
  .datepicker-content svg {
    height: 8px;
    position: absolute;
    fill: #fff;
    transform: rotate(90deg);
    right: 8px;
    top: 12px; }

.datepicker-days,
.datepicker-hours {
  position: relative;
  margin-right: 5%; }

.menu-trigger {
  position: fixed;
  top: 1rem;
  left: 1rem; }

.player-trigger {
  background-color: transparent; }

.playlist {
  list-style: none;
  background-color: rgba(17, 17, 17, 0.7);
  padding: 1rem; }

.track {
  display: -ms-flexbox;
  display: flex;
  padding: 0.15rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #babbbc; }
  .track--current {
    color: #fff;
    font-family: 'vinyl', sans-serif;
    padding: 0.25rem 0;
    font-size: 3rem; }
    .track--current .track__title {
      font-style: italic; }
  .track__title {
    line-height: 1.1;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px; }
  .track__artist {
    margin-left: 1rem; }

.playlist-label {
  display: inline-block;
  color: #fff;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #fff; }

.track-header {
  color: #fff;
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex; }
  .track-header__container {
    -ms-flex: 0 0 300px;
    flex: 0 0 300px; }
  .track-header__title, .track-header__artist {
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #fff; }
  .track-header__artist {
    margin-left: 1rem; }

.show {
  display: -ms-flexbox;
  display: flex;
  width: 575px;
  border: 1px solid white;
  padding: 10px;
  height: 300px;
  margin: 10px; }
  .show .show-image {
    width: 50%; }
  .show .show-desc {
    width: 50%; }

.showlist {
  transform: translateX(-2000px);
  position: absolute;
  height: 100vh;
  width: calc(100% - 283px);
  color: white;
  background: black;
  transition: all 1s ease-out;
  z-index: 99;
  overflow-y: hidden;
  padding: 30px; }

.showlist-active {
  transform: translateX(0);
  height: inherit; }

.shows {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 42px; }

.sidebar {
  background: red; }

.side-nav {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000; }
  .side-nav--right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .side-nav::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1); }
  .side-nav--visible {
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
    pointer-events: auto; }
    .side-nav--visible .side-nav__container {
      transform: none !important; }
    .side-nav--visible::before {
      opacity: 1; }

.side-nav__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 400px;
  background-color: #000;
  margin-left: auto;
  border-left: 1px solid #fff;
  height: 100%;
  transform: translateX(102%);
  transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1);
  will-change: transform;
  padding: 1rem;
  overflow-y: auto; }

.episode-table th {
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff; }

.episode-table td, .episode-table th {
  width: 33.333%;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  text-align: left; }

.inline-editable {
  position: relative; }
  .inline-editable__icon {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 2rem;
    fill: #fff; }

.show-details__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff; }

.show-details__heading {
  font-size: 18px;
  font-weight: 700; }

.floating-input-group {
  width: 100%;
  position: relative; }
  .floating-input-group input, .floating-input-group textarea {
    color: #fff;
    background-color: transparent;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 14px; }
  .floating-input-group input:focus ~ label,
  .floating-input-group input:valid ~ label {
    transition: 0.2s ease all;
    top: -20px;
    font-size: 14px;
    color: #fff; }
  .floating-input-group label {
    position: absolute;
    left: 0px;
    top: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.2s ease all; }
    .floating-input-group label:focus {
      outline: 0; }

.main {
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.main-content {
  -ms-flex: 0 0 calc(100% - 300px);
  flex: 0 0 calc(100% - 300px);
  background-color: #0E0F10; }

.parallax {
  position: fixed;
  width: calc(100% - 300px);
  height: 100vh; }

.hero-header {
  opacity: 0.5; }

.main-sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #161619;
  color: #6D6E70;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 1.5rem; }

.current-track {
  padding: 1rem 0;
  text-align: center; }
  .current-track__song {
    color: #fff; }
  .current-track__artist {
    margin: 0; }

.player-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .player-controls__play, .player-controls__volume {
    fill: #fff; }
  .player-controls__volume {
    width: 24px;
    height: auto;
    margin-left: 0.5rem; }

.current-show {
  padding: 2rem 0; }
  .current-show__title {
    margin: 0; }
  .current-show__description {
    margin: 0; }

.galaxy-map {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid;
  width: 100%; }

.nav-point {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0; }
  .nav-point p {
    margin: 0; }
  .nav-point svg {
    fill: #6D6E70;
    width: 16px;
    height: auto;
    margin-right: 0.5rem; }

.playlist-container {
  position: relative;
  padding-top: 3rem;
  width: 70%;
  margin: 0 auto;
  color: #fff; }

.card {
  padding: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  /*border: 1px solid #fff;*/ }
  .card + .card {
    margin-left: 3rem; }

.show-information {
  display: -ms-flexbox;
  display: flex; }

.show-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px; }

.show-meta {
  padding-right: 10%; }
  .show-meta h2 {
    font-size: 4rem;
    margin: 0; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotating {
  animation: rotating 45s linear infinite; }

.dashboard {
  min-height: 100vh;
  color: #fff;
  background-color: #000; }
  .dashboard .h1 {
    font-weight: 700; }
  .dashboard p {
    margin-bottom: 10px; }
    .dashboard p:last-child {
      margin-bottom: 0; }
  .dashboard__content {
    padding: 1rem; }
  .dashboard input, .dashboard textarea {
    background-color: transparent;
    color: #fff;
    width: 100%; }

.dashboard-nav {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #fff;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 525px) {
    .dashboard-nav {
      -ms-flex-direction: row;
      flex-direction: row; } }

@media (min-width: 525px) {
  .dashboard-nav__item--logout {
    margin-left: auto; } }

.dashboard-nav__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase; }
  .dashboard-nav__link--active {
    color: #000;
    background-color: #fff; }

.register {
  padding: 2rem 0;
  background: black;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .register img {
    margin-bottom: 70px; }
  .register .h1 {
    font-weight: 700; }

.register-form {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px; }
  @media (min-width: 668px) {
    .register-form {
      padding: 0;
      width: 60%; } }

.register-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }
  .register-row input[type="email"],
  .register-row input[type="password"] {
    width: 100%; }
  .register-row input {
    font-size: 14px;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 0;
    padding: 16px; }
  .register-row--right {
    padding-right: 10px;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.register-input-group {
  width: 100%;
  padding: 0 10px;
  position: relative; }
  .register-input-group input {
    width: 100%; }

.register-row-input:focus ~ .register-row-label, .register-row-input:valid ~ .register-row-label {
  top: -20px;
  font-size: 14px;
  color: #fff; }

.register-row-label {
  position: absolute;
  left: 20px;
  top: 18px;
  color: #161619;
  pointer-events: none;
  transition: 0.2s ease all; }
  .register-row-label:focus {
    outline: 0; }

.register-row-svg {
  fill: #979797;
  position: absolute;
  top: 13px;
  right: 20px; }
  .register-row-svg--good {
    fill: #4CAF50; }
  .register-row-svg--bad {
    fill: #F44336; }

.show-list {
  margin-top: 1rem;
  display: -ms-flexbox;
  display: flex;
  margin-left: -5%;
  margin-right: -5%; }
  @media (min-width: 500px) {
    .show-list {
      margin-left: -2.5%;
      margin-right: -2.5%; } }

.show-list__item {
  cursor: pointer;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  min-width: 50%;
  padding: 0 5%;
  height: 460px;
  text-decoration: none; }
  @media (min-width: 500px) {
    .show-list__item {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      min-width: 25%;
      padding: 0 2.5%; } }

.show-list__item-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background-position: 50% 100%; }

.show-list__item-footer {
  padding: 1.5rem 0.5rem;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  .show-list__item-footer p {
    color: #fff; }

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  min-height: 100vh; }
  .login input {
    background: transparent; }

.login-box {
  width: 215px; }

.error-box {
  padding: 15px 0;
  font-size: 14px;
  color: #fff; }

.live {
  display: -ms-flexbox;
  display: flex;
  color: #fff; }
  .live--show {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
  .live .show-list__item {
    min-width: 300px; }

.live-content {
  padding: 0 15px;
  -ms-flex: 4;
  flex: 4; }

.live-sidebar {
  padding: 0 15px;
  -ms-flex: 1;
  flex: 1; }

.tracklist-live {
  margin-top: 2rem;
  width: 500px; }
  .tracklist-live li {
    display: -ms-flexbox;
    display: flex;
    margin: 1rem -0.5rem; }
    .tracklist-live li input, .tracklist-live li span, .tracklist-live li button {
      margin: 0 0.5rem; }
    .tracklist-live li input, .tracklist-live li span {
      -ms-flex: 2;
      flex: 2; }
    .tracklist-live li button {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 40px;
      line-height: 24px;
      padding: 0.5rem;
      background: transparent;
      border: 1px solid #fff;
      width: 45px;
      color: #fff; }
      .tracklist-live li button svg {
        fill: #fff; }
      .tracklist-live li button span {
        position: relative;
        top: -5px; }
    .tracklist-live li:first-of-type {
      margin-bottom: 4rem; }
