table {
  border-collapse: collapse; }

.calendar {
  transform: translateX(-2000px);
  position: absolute;
  height: 100vh;
  width: calc(100% - 283px);
  color: white;
  background: black;
  transition: all 1s ease-out;
  z-index: 99;
  overflow: auto;
  padding: 30px; }

.calendar-active {
  transform: translateX(0);
  height: inherit; }

.schedule {
  width: 100%;
  text-align: left;
  table-layout: fixed; }
  .schedule h1 {
    margin-bottom: 42px; }
  .schedule .headings {
    text-transform: uppercase;
    border-bottom: 2px solid #fff; }
    .schedule .headings th {
      padding-bottom: 10px; }
    .schedule .headings .time {
      font-size: .8em; }
  .schedule .timeslot {
    border-bottom: 2px solid #fff; }
    .schedule .timeslot td {
      position: relative;
      padding: 5px; }
      .schedule .timeslot td:first-child {
        padding: .25em 0 5.5em; }

.slot {
  background-color: white;
  color: black;
  border: 1px solid black; }
  .slot h6 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem; }
