.show {
  display: -ms-flexbox;
  display: flex;
  width: 575px;
  border: 1px solid white;
  padding: 10px;
  height: 300px;
  margin: 10px; }
  .show .show-image {
    width: 50%; }
  .show .show-desc {
    width: 50%; }
