.dashboard {
  display: -ms-flexbox;
  display: flex; }

.dashboard-nav {
  padding: 0 2rem; }

.dashboard-content {
  padding: 0 2rem; }

.dashboard-nav-list {
  background-color: #2e2e34;
  padding: 1rem 2rem;
  color: #fff;
  list-style: none; }
  .dashboard-nav-list a {
    display: block;
    color: inherit;
    font-size: 1.25rem;
    padding: 0.5rem 0;
    text-decoration: none; }
