.main {
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.main-content {
  -ms-flex: 0 0 calc(100% - 300px);
  flex: 0 0 calc(100% - 300px);
  background-color: #0E0F10; }

.parallax {
  position: fixed;
  width: calc(100% - 300px);
  height: 100vh; }

.hero-header {
  opacity: 0.5; }

.main-sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #161619;
  color: #6D6E70;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 1.5rem; }

.current-track {
  padding: 1rem 0;
  text-align: center; }
  .current-track__song {
    color: #fff; }
  .current-track__artist {
    margin: 0; }

.player-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .player-controls__play, .player-controls__volume {
    fill: #fff; }
  .player-controls__volume {
    width: 24px;
    height: auto;
    margin-left: 0.5rem; }

.current-show {
  padding: 2rem 0; }
  .current-show__title {
    margin: 0; }
  .current-show__description {
    margin: 0; }

.galaxy-map {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid;
  width: 100%; }

.nav-point {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0; }
  .nav-point p {
    margin: 0; }
  .nav-point svg {
    fill: #6D6E70;
    width: 16px;
    height: auto;
    margin-right: 0.5rem; }

.playlist-container {
  position: relative;
  padding-top: 3rem;
  width: 70%;
  margin: 0 auto;
  color: #fff; }

.card {
  padding: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  /*border: 1px solid #fff;*/ }
  .card + .card {
    margin-left: 3rem; }

.show-information {
  display: -ms-flexbox;
  display: flex; }

.show-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px; }

.show-meta {
  padding-right: 10%; }
  .show-meta h2 {
    font-size: 4rem;
    margin: 0; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotating {
  animation: rotating 45s linear infinite; }
