.episode-table {
  th {
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
  }

  td, th {
    width: 33.333%;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }

}