.header {
  margin-bottom: 5.625rem;
  padding-left: 1.2rem;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__link {
  color: inherit;
  display: block;
  text-decoration: none;
}

.nav-trigger {
  background-color: $purple;
  margin-left: auto;
  padding: 1rem 1.2rem;
  cursor: pointer;

  &__logo {
    fill: #fff;
  }
}