.opening-block-container {
  position: relative;
  font-size: 25px;
  font-weight: 700;
}

.opening-block-number {
  position: absolute;
  color: $purple;
  left: -205px;
  width: 165px;
  text-align: right;
}

.opening-block-number__page {
  &:before {
    display: block;
    position: absolute;
    top: 43%;
    content: '';
    width: 75%;
    border-bottom: 1px solid $light-grey;
  }
}