.tooltip-container {
  position: absolute;
  display: none;

  &--visible {
    display: block;
  }
}

.selected-tooltip {
  display: inline-flex;
  padding: 12px 11px;
  background-color: #3E3E3E;
  border-radius: 13px;
  position: relative;
  bottom: 20px;
  left: 20px;
}

.selected-tooltip-action {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}