.showlist {
  transform: translateX(-2000px);
  position: absolute;
  height: 100vh;
  width: calc(100% - 283px);
  color: white;
  background: black;
  transition: all 1s ease-out;
  z-index: 99;
  overflow-y: hidden;
  padding: 30px;
}

.showlist-active {
  transform: translateX(0);
  height: inherit;
}
.shows {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 42px;
}
