.btn {
  background-color: #fff;
  border: 2px solid #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  &:hover,
  &:focus {
    background-color: #333;
    color: #fff;
  }

  &:active {
    background-color: lighten(#333, 5%);
  }
}