.btn {
  background-color: #fff;
  border: 2px solid #333;
  font-size: 12px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
  }

  &:active {
    background-color: lighten(#333, 5%);
  }
}