.page {
  margin: 0 auto;
  width: 532px;

  @media (min-width: 1024px) {
    width: 618px;
  }
}

.content-block {
  margin-bottom: 52px;
}

.flex-section {
  display: flex;
  margin: 0 -10px;
}

.flex-col-6 {
  flex: 1;
  padding: 0 10px;
}

.align-right {
  text-align: right;
}