html {
  font-family: 'Open Sans Condensed', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'vinyl', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.h1 {
  font-size: 3rem;
  font-weight: 300;
}

.h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: 500;
}