html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .sub-title {
  font-weight: 700;
}

h1 {
  font-size: 25px;
  margin-bottom: 32px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 18px;
}

strong {
  font-weight: 700;
  line-height: 24px;
}

.dashed {
  li {
    text-indent: -12px;

    &:before {
      content: "-";
      padding-right: 4px;
    }
  }
}

.year-list {

  li {
    display: flex;
  }

  &__year {
    font-weight: 700;
    color: $purple;
    flex: 0 0 50px;
  }

  p {
    display: inline-block;
  }
}

.review {
  color: $navy; 
  font-size: 20px;
}

li {
  line-height: 24px;
}

.mega {
  font-size: 76px;
  margin-bottom: 22px;
}

.alpha {
  font-size: 25px;
  margin-bottom: 16px;
}


.glegoo {
  font-family: 'Glegoo', 'serif',
}

.sub-title {
  font-size: 15px;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 28px;
}

::selection {
  background: #D0CEF8; 
}