@import '../variables/colors';

.main {
  display: flex;
  position: relative;
}

.main-content {
  flex: 0 0 calc(100% - 300px);
  background-color: #0E0F10;
}

.parallax {
  position: fixed;
  width: calc(100% - 300px);
  height: 100vh;
}

.hero-header {
  opacity: 0.5;
}

.main-sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #161619;
  color: #6D6E70;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
}

.current-track {
  padding: 1rem 0;
  text-align: center;

  &__song {
    color: #fff;
  }

  &__artist {
    margin: 0;
  }
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__play,
  &__volume {
    fill: #fff;
  }

  &__volume {
    width: 24px;
    height: auto;
    margin-left: 0.5rem;
  }
}

.current-show {
  padding: 2rem 0;

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}

.galaxy-map {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid;
  width: 100%;
}

.nav-point {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

  p {
    margin: 0;
  }

  svg {
    fill: #6D6E70;
    width: 16px;
    height: auto;
    margin-right: 0.5rem;
  }
}

.playlist-container {
  position: relative;
  padding-top: 3rem;
  width: 70%;
  margin: 0 auto;
  color: #fff;
}

.card {
  padding: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(#000, 0.9);
  /*border: 1px solid #fff;*/

  + .card {
    margin-left: 3rem;
  }
}

.show-information {
  display: flex;
}


.show-img {
  display: flex;
  justify-content: center;
  flex: 0 0 250px;
}

.show-meta {
  padding-right: 10%;

  h2 {
    font-size: 4rem;
    margin: 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 45s linear infinite;
}
