html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .sub-title {
  font-family: 'Glegoo', serif;
  font-weight: 700;
}

h1 {
  font-size: 49px;
}

h2 {
  font-size: 31px;
}

.sub-title {
  font-size: 15px;
  text-transform: uppercase;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
}