$dark-grey: #161619;
$light-grey: #6D6E70;

// ui colors
$purple: #5949FF;
$light-purple: #D0CEF8;
$grey: #979797;
$lighter-grey: #f4f4f4;
$navy: #2A3C6A;

// teal
$light-blue: #26D5EA;
$yellow: #FFD717;
$teal: #65E3AD;


