.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px 3%;
}

.dashboard-content {
  margin-top: 30px;
  display: flex;

}

.bx--card-overview__about {
  margin: 0;
}

.bx--card {
  margin-left: 20px;
  margin-right: 20px;
}