.side-nav {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;

  &--right {
    display: flex;
    justify-content: flex-end;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s cubic-bezier(0,0,0.3,1);
  }

  &--visible {
    transition: transform 0.2s cubic-bezier(0,0,0.3,1);
    pointer-events: auto;

    .side-nav__container {
      transform: none !important ;
    }

    &::before {
      opacity: 1;
    }
  }
}


.side-nav__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 300px;
  background: #fff;
  height: 100%;
  transform: translateX(-102%);
  transition: transform 0.2s cubic-bezier(0,0,0.3,1);
  will-change: transform;

  .side-nav--right & {
    transform: translateX(102%);
  }
}

.list-view {
  list-style: none;
  padding: 0 20px;

  li {
    display: flex;
    align-items: center;
    padding: 10px 0;

    p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }
}